* {
    font-family: sans-serif;
  }
  input,
  button {
    font-size: 25px;
    padding: 15px;
    border-radius: 10px;
  }
  input {
    display: block;
    margin-bottom: 20px;
  }
  button {
    border: 1px solid gray;
    background: whitesmoke;
    margin-right: 5px;
  }
  button:nth-last-child(2),
  button:nth-last-child(1) {
    background:rgb(137, 59, 153);
    color: white;
  }
  